<body class="home">
	<h1>Dog<span>ram</span></h1>
	<div class="img-cover">
    	<img class="home-img" src="<%= asset_path('top.JPG') %>" usemap="#image-map">
	</div>
	<map name="image-map">
	    <area target="_self" alt="dogs" title="dogs" href="/dogs" coords="15,411,64,361,104,315,134,284,168,255,241,192,300,162,342,152,365,153,403,150,446,148,494,145,532,135,554,123,580,85,625,68,660,61,687,61,716,68,710,98,710,142,720,159,753,186,774,205,786,245,792,266,813,276,842,300,867,332,873,353,861,364,845,384,808,411,785,419,768,429,735,449,713,467,692,476,680,499,658,553,654,571,664,592,667,600,4,600,2,424" shape="poly">
	</map>
</body>
